@charset "utf-8";

/* font */
@font-face {
  font-family: "JK Abode";
  src: url("./assets/fonts/JKAbode-Demo.ttf");
}

@font-face {
  font-family: "JK Abode Light";
  src: url("./assets/fonts/JKAbode-LightDemo.ttf");
}

@font-face {
  font-family: "IRANSansXFaNum";
  src: url("./assets/fonts/IRANSansXFaNum-ExtraBold.otf");
}

body {
  box-sizing: border-box;
}
